@using Microsoft.AspNetCore.Mvc.Rendering
@model DNetCMS.Models.ViewModels.View.CreateReplaceViewModel

@{
    ViewBag.Title = "Перезапись страницы";
    Layout = "_AdminLayout";
}

<h2>Перезапись базовой страницы</h2>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" asp-controller="View" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group post-control__field">
                <label class="control-label post-control__label">Маршрут страницы: </label>
                @Html.DropDownListFor(m => m.ChoosenView, Model.Views)
                <span asp-validation-for="ChoosenView" class="text-danger"></span>
            </div>
            <div class="form-group post-control__field">
                <label class="control-label post-control__label">Активировать после создания? </label>
                <input type="checkbox" asp-for="Enable" class="form-control post-control__control" />
                <span asp-validation-for="Enable" class="text-danger"></span>
            </div>
            <div class="form-group post-control__field">
                <label class="control-label post-control__label">Содержимое: </label>
                <textarea asp-for="Code" class="form-control post-control__control post-control__textarea"></textarea>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default post-control__button" />
            </div>
        </form>
    </div>
</div>