@model DNetCMS.Models.DataContract.BaseViewOverride[]

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

//TODO: сделать все View

@if (Model != null)
{
    foreach (var m in Model)
    {
        
    }
}