<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="/var/log/nlog/internal.log">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file  -->
        <target xsi:type="File" name="Trace" fileName="Logs/Logs/Dev/Trace-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="File" name="Debug" fileName="Logs/Logs/Dev/Debug-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="File" name="Info" fileName="Logs/Info/Info-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

        <target xsi:type="File" name="Warning" fileName="Logs/Logs/Warning/Warning-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

        <target xsi:type="File" name="Error" fileName="Logs/Logs/Errors/Error-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
зак
        <target xsi:type="File" name="Fatal" fileName="Logs/Logs/Fatal-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--All logs, including from Microsoft-->
<!--        <logger name="*" minlevel="Trace" writeTo="allfile" />-->

        <!--Skip non-critical Microsoft logs and so log only own logs-->
<!--        <logger name="Microsoft.*" maxLevel="Info" final="true" /> -->
        <!-- BlackHole without writeTo -->
<!--        <logger name="*" minlevel="Trace" writeTo="test" />-->
        <logger name="*" minlevel="Fatal" writeTo="Fatal" />
        
        <logger name="*" minlevel="Error" writeTo="Error" />
        
        <logger name="*" minlevel="Warning" writeTo="Warning" />
        
        <logger name="*" minlevel="Trace" writeTo="Trace" />
        <logger name="*" minlevel="Info" writeTo="Info"  />
    </rules>
</nlog>

