@using Microsoft.AspNetCore.Mvc.Rendering
@model DNetCMS.Models.ViewModels.FileUploadViewModel

@{
    ViewBag.Title = "Загрузка файла";
    Layout = "_Layout";
}

<h2>Загрузка файла</h2>


<form method="post" asp-controller="Files" asp-action="UploadFile">
    <div>
        @Html.DisplayFor(x => x.TargetUse)
        @Html.RadioButtonFor(x => x.TargetUse, Model.Targets)
        <span asp-validation-for="TargetUse"></span>
    </div>
    <div>
        @Html.DisplayFor(x => x.File)
        @Html.EditorFor(x => x.File)
        <span asp-validation-for="File"></span>
    </div>    
    <div>
        <input type="submit" value="Загрузить"/>
    </div>
</form>