@using Microsoft.AspNetCore.Mvc.Rendering
@model DNetCMS.Models.ViewModels.FileUploadViewModel

@{
    ViewBag.Title = "Загрузка файла";
    Layout = "_AdminLayout";
}

<h2>Загрузка файла</h2>


<form method="post" asp-controller="Files" asp-action="UploadFile" enctype="multipart/form-data">
    <div>
        Сохранить как: 
        @Html.DropDownListFor(x => x.TargetUse, Model.Targets)
        <span asp-validation-for="TargetUse"></span>
    </div>
    <div>
        @Html.DisplayFor(x => x.File)
        <input type="file" asp-for="File"/>
        <span asp-validation-for="File"></span>
    </div>    
    <div>
        <input type="submit" value="Загрузить"/>
    </div>
</form>