@{
    ViewData["Title"] = "О проекте";
}
<h2>@ViewData["Title"]</h2>

<p>DNetCMS - проект созданный одним человеком, который любит создавать интересные приложения, но еще больше любит создавать инструменты, для создания приложений.</p>