@{
    ViewData["Title"] = "Домашняя страница";
}


 <div id="info" class="carousel slide" data-ride="carousel"> 
   <ul class="carousel-indicators"> 
     <li data-target="#info" data-slide-to="0" class="active"></li> 
     <li data-target="#info" data-slide-to="1"></li> 
     <li data-target="#info" data-slide-to="2"></li> 
   </ul> 
   <div class="carousel-inner"> 
     <div class="carousel-item active"> 
       <img class="d-block" src="~/images/scale_small_secure.jpg" alt="Масштабируемый. Безопасный. Легковесный" width="1100" height="500"> 
       <div class="carousel-caption text-left"> 
         <h1 class="font-border-text">Scalable. Small. Secure.</h1> 
         <p>Масштабируемая. Легковесная. Безпасная.</p> 
       </div> 
     </div> 
     <div class="carousel-item"> 
       <img class="d-block" src="~/images/docker_based.png" alt="На базе Docker" width="1100" height="500"> 
       <div class="carousel-caption text-left"> 
         <h1 class="font-border-text">Docker based</h1> 
         <p class="font-border-text">Построенная на базе Docker</p> 
       </div> 
     </div> 
     <div class="carousel-item"> 
       <img class="d-block" src="~/images/easy_to_scale.png" alt="Прострое масштабирование" width="1100" height="500"> 
       <div class="carousel-caption text-left"> 
         <h1 class="font-border-text">Easy to scale</h1> 
         <p class="font-border-text">Легко масштабируемая</p> 
       </div> 
     </div> 
   </div> 
   <a class="carousel-control-prev" href="#info" role="button" data-slide="prev"> 
     <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
     <span class="sr-only">Предидущий</span> 
   </a> 
   <a class="carousel-control-next" href="#info" role="button" data-slide="next"> 
     <span class="carousel-control-next-icon" aria-hidden="true"></span> 
     <span class="sr-only">Следующий</span> 
   </a> 
</div> 


<div class="marketing m-4">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="https://docs.microsoft.com/ru-ru/dotnet/images/hub/netcore.svg" alt="Generic placeholder image" width="140" height="140">
      <h2>Кроссплатформенная</h2>
      <p>Построенная на базе .NET Core, это приложение .</p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">Узнать больше &raquo;</a>
      </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="https://hsto.org/getpro/habr/post_images/3ea/847/61b/3ea84761b897d0af5304dc43caca1249.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Надежная</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
      </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="https://pluralsight2.imgix.net/paths/images/docker-copy-3135ce60d0.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Мобильная</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>
        <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
      </p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Простая и эффективная.</h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="~/images/netcore.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Легкая установка и обслуживание.</h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="~/images/docker_heading.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Надежная и безопасная.</h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="~/images/DockerNPostgresLogos.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">


</div>